:root{
  --red:#0073e6;
    --primary-color:#fff;
  --secondary-color:#212121;
}
.dark-theme{
  --primary-color:#1a1a1a;
  --secondary-color:#fff;
}

.gallery{
  background::var(--primary-color);
}

 .gallery .box-container{
  padding:10px 0;
}
 .gallery .box{
  width:75%;
  margin:2rem auto;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  background:#fff;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

 .gallery .g-image{
  height: 15rem;
  width:50%;
}

 .gallery img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

 .gallery .g-content{
  height: 100%;
  width:50%;
  padding:20px;
}

.gallery  .g-h3{
  color:var(--red);
}

.gallery .g-p{
  color:#666;
  font-size: 15px;
  line-height: 22px;
}
.gallery .g-btn{
background-color:var(--red);
color: #fff;
margin-top: 10px;
padding: 5px 20px;
border-radius:10px;
opacity: .8;
}
.gallery .g-btn:hover{
  opacity: 1;
}
.gallery-title{
	text-align: center;
	margin-top: 20px;
}
.gallery h2{
	color: var(--red);
}
.gallery h4{
  color:var(--secondary-color);
}
.gallery .box-container .box:nth-child(even){
  flex-flow: row-reverse;
}

.gallery .box-container .box:nth-child(even) .content{
  text-align: right;
}


@media (max-width:768px){


  .gallery .box-container .box{
    flex-flow: column;
    width: 90%;
  }

  .gallery .box-container .box:nth-child(even){
    flex-flow: column;
  }

  .gallery .box-container .box .g-image{
    width: 100%;
  }

  .gallery .box-container .box .g-content{
    width: 100%;
  }

  .gallery .box-container .box:nth-child(even) .g-content{
    text-align: left;
  }

}