:root{
  --primary-color:#fff;
  --secondary-color:#212121;
  --third: #ffdd00;
}
.dark-theme{
  --primary-color:#1a1a1a;
  --secondary-color:#fff;
  --third: #fcc00a;
}
body{
  background:var(--primary-color);
}
.nav-container{ 
  width:100%;
    padding: 0px 0px;
    overflow-x: hidden;
}
.logo{
  width: 120px;
  cursor: pointer;
}
.lang_btn{
margin-left:6rem;
color: var(--secondary-color);
}
.lang_btn a{
color: var(--secondary-color);
}
.lang_btn a:hover{
color: var(--secondary-color);
text-decoration: none;
}
.collapse{
  justify-content: flex-end;
}
nav ul li{
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  transition: 1s ease-in-out;
}
nav ul li a{
  color:  var(--secondary-color);
}
nav ul li a:hover{
  color:var(--secondary-color);
  transform: scale(1.2);
}

#icon{
   width: 20px; 
}
.log-in{
  background:#0066FF;
  border-radius: 25px;
  font-size: 15px;
  color: #fffF;
  font-weight: bold;
  outline-style: none;
  box-shadow: none;
}
.log-in:hover{
  color: #fff;
}
.fa-bars{
  color:#0066FF;
  font-size: 30px;
}
.navbar-toggler:focus{
    outline-style: none;
    box-shadow: none;
}
.collapse{
  justify-content: flex-end;
}
.arrow{
  font-size: 30px;
  color:var(--secondary-color);
}

.carousel-box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.carousel{
 width: 80%;
}
.carousel .item{
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  padding: 13px;
  text-align: center;
}



.review_title{
  padding-top: 40px;
  padding-left: 10%;
}
.review_title i{
  font-size: 30px;
  color: var(--secondary-color);
}
.review_title h1{
  color: var(--secondary-color);
}
.video{
 display: flex;
 justify-content: center;
}
.video .img-container{
  width: 80%;
  height: 640px;
}
.video .img-container img{
  width: 100%;
  height: 100%;
}
.video .img-container video{
  width: 100%;
  height: 100%;
}
.video_content{
  padding-left: 10rem;
}
.video_content h6{
  color: var(--secondary-color);
}

.carousel .item{
  height: 9rem;
  width: 100%;
}
.carousel-box .carousel .item img,.carousel-box .carousel .item video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
}
.carousel-box .carousel .item img:hover,.carousel-box .carousel .item video:hover{
    transform: scale(1.1);
}



.stars ul li{
 display: inline-block;
 padding-right: 5px;
}
.stars ul{
  padding-left: 0;
  margin-bottom: 5px;
}
.rating{
  padding: 20px;
  text-align: center;
}
.rating h1,.rating h6{
  color: #fcc00a;
}
.stars .star{
  color:#ffdd00;
  list-style: none;
  font-size: 1rem;
}
.stars .i{
  color:#ffdd00;
}



.bar_stars ol {
  color:#cccccc;
  font-size: 15px;
  padding-top: 5px;
}
.bar_stars ol li{
  padding-top: 3px;
}
.bar_stars ol li i{
  color: #ffdd00;
}
.skill-bar{
  display: inline-flex;
  background-color: #f1f1f1;
  width: 80%;
}
.progress-bar{
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background-color:var(--third);
}



.box{
  padding: 20px 60px;
  display: inline-flex;
}
.box img{
  width: 7%;
  height: 7%;
  border-radius:35px;
  display:flex;
  justify-content: center;
}
.box .stars{
  display: inline-block;
}
.box .post{
  padding-left: 30px;
  color: var(--secondary-color);
}
.box .post h6{
  font-weight: 450;
}
.hr{
  background-color: var(--secondary-color);
  width: 90%;
}
.box .post small{
  text-transform: capitalize;
}
.box .post span{
  text-transform: lowercase;
}






@media (max-width: 1000px) {
  .carousel{
     width: 80%;
  }
  .carousel .item{
  font-size: 15px;
}
}
@media screen and (max-width: 800px){
  .video .img-container{
    height: 350px;
  }
 .video_content{
  padding-left: 2rem;
 }
 .carousel .item{
  height: 6rem;
}
}

@media screen and (max-width: 770px){
 .bar_stars ol {
    padding-left: 4rem;
  }
  .box img{
  width: 50px;
  height: 50px;
  }

 .navbar-collapse ul{
    padding-left: 80px;
 }
}
@media screen and (max-width: 600px){
 .video .img-container{
    height: 250px;
  }
}

@media screen and (max-width: 520px){
  .box{
  padding: 20px 15px;
 }
}