body{
  background: #f1f5f9;
}
.sidebar{
  padding: 0;
  color: #fff;
  }
.stick{
  height: 1000px;
  background: #000;
  position: fixed;
  width: 24.9%;
  padding: 20px;
}
.sidebar h2{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.sidebar li{
  list-style: none;
  padding: 1rem 2rem;
  font-size: 20px;
}
.sidebar ul{
  padding-left: 0;
}
.sidebar a{
  color: #fff;
}
.sidebar a:hover{
  color:red;
  text-decoration: none;
}
.sidebar .active a{
  color: red;
}
.sidebar .active{
  background: #fff;
  border-radius: 30px;
}
.header{
  background:#fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.7);
}

.dash_content{
  padding-bottom: 0px;
}
.profile .img{
  position: absolute;
  right: 13rem;
  top: 10px;
  width: 65px;
}
.profile img{
  width: 100%;
  border-radius: 35px;
}
.profile h4{
  padding-top: 10px;
  text-transform: uppercase;
}
.profile span{
  color: grey;
  font-size: 18px;
}
 .multi_lang{
  color: black;
    font-size: 13px;
    padding-bottom: 5px;
 }
 .multi_lang a{
   color: black;
 }
 .multi_lang a:hover{
   color: black;
   text-decoration: none;
 }   


.fa-bars{
  visibility: hidden;
  color: red;
}


.form-div{
  width: 100%;
  padding: 0rem 0rem;
  height:85vh;
}
.fa-arrow-left{
   padding: 20px 40px;
   font-size:30px;
   cursor: pointer;
   color:black;
   float: left;
}






.edit{
position: absolute;
right: 70px;
}
.review_title{
  padding-top: 40px;
  padding-left: 12%;
}
.collapse{
  justify-content: flex-end;
}

.carousel-box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.carousel{
 width: 100%;
}
.carousel .item{
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  padding: 13px;
  text-align: center;
}



.review_title{
  padding-top: 40px;
  padding-left: 0;
}
.review_title i{
  font-size: 30px;
  color: var(--secondary-color);
}
.review_title h1{
  color: var(--secondary-color);
}
.video{
 display: flex;
 justify-content: center;
}
.video .img-container{
  width: 100%;
  height: 500px;
}
.video .img-container img{
  width: 100%;
  height: 100%;
}
.video .img-container video{
  width: 100%;
  height: 100%;
}

.video_content h6{
  color: var(--secondary-color);
}

.carousel .item{
  height: 9rem;
  width: 100%;
}

.carousel-box .carousel .item img,.carousel-box .carousel .item video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
}
.carousel-box .carousel .item img:hover,.carousel-box .carousel .item video:hover{
    transform: scale(1.1);
}



.stars ul li{
 display: inline-block;
 padding-right: 5px;
}
.stars ul{
  padding-left: 0;
  margin-bottom: 5px;
}
.rating{
  padding: 20px;
  text-align: center;
}
.rating h1,.rating h6{
  color: #fcc00a;
}
.stars .star{
  color:#ffdd00;
  list-style: none;
  font-size: 1rem;
}
.stars .i{
  color:#cccccc;
}



.bar_stars ol {
  color:#cccccc;
  font-size: 15px;
  padding-top: 5px;
}
.bar_stars ol li{
  padding-top: 3px;
}
.bar_stars ol li i{
  color: #ffdd00;
}
.skill-bar{
  display: inline-flex;
  background-color: #f1f1f1;
  width: 80%;
}
.progress-bar{
  text-align: center;
  font-size: 10px;
  color: #fff;
  background-color:#ffdd00;
}



.box{
  padding: 20px 60px;
  display: inline-flex;
}
.box img{
  width: 7%;
  height: 7%;
  border-radius:35px;
  display:flex;
  justify-content: center;
}
.box .stars{
  display: inline-block;
}
.box .post{
  padding-left: 30px;
}
.box .post h6{
  font-weight: 450;
}
.hr{
  width: 80%;
}
.box .post small{
  text-transform: capitalize;
}
.box .post span{
  text-transform: lowercase;
}





@media screen and (max-width:930px){
  .stick h2{
    font-size: 25px;
  }

}

@media screen and (max-width:768px){
   .stick{
    position: relative;
    width: 48rem;
   }
   .header h3{
    position: fixed;
    padding: 28px 10px;
  z-index: 500;
   }
   .header h2{
  padding-top: 25px;
  padding-left: 50px;
   }
  .sidebar{
    z-index: 8;
    width: 100%;
    height: 550px;
    position: absolute;
    left:-800px;
    top: 0px;
    transition: .8s;
   }
   .dash_content{
    width: 49rem;
   }
   .fa-bars{
    visibility: visible;
   }
 .sidebar.open{
  left: 0;
  position: fixed;
 }
}


@media screen and (max-width:680px){
.header h2{
  font-size: 40px;
   }
.profile h4{
  margin-bottom: 0;
  font-size: 25px;
     }
.profile span{
  font-size: 20px;
    }
.profile .img{
  margin-right: 1rem;
  width: 5rem;
   }
   .multi_lang{
    font-size: 17px;
   }

}











@media screen and (max-width: 770px){
 .bar_stars ol {
    padding-left: 4rem;
  }
  .box img{
  width: 50px;
  height: 50px;
  }
  .video video{
  width: 100%;
  }
 .video_content{
  padding-left: 2rem;
 }
}

@media screen and (max-width: 520px){
  .box{
  padding: 20px 0px;
 }
}

