body{
  background-color: #f1f1f1;
}
nav{
  background: #333333;
}
nav ul li{
  padding: 0 5px;
  font-size: 15px;
  font-weight: 300;
  transition: 1s ease-in-out;
}
nav ul li a{
  color: #fff;
}
nav ul li a:hover{
  color:#fff;
}
.navbar-toggler i{
  color: #fff;
  font-size: 25px;
}
.navbar-toggler:focus{
    outline-style: none;
    box-shadow: none;
}
.navbar-brand{
  color: #fff;
  padding-left: 30px;
}
.collapse{
  justify-content: flex-end;
}
.container{
  padding: 0 40px;
}


.account{
  display: flex;
  float: right;
  color: #ccc;
}
.image-container i{
  cursor: pointer;
  position: absolute;
  bottom:19%;
  right: 34%;
  font-size: 30px;
}
.profile-card{
  width: 400px;
  font-family: sans-serif;
  margin: auto;
  padding-bottom: 10px;
  border-radius:15px;
  background:#fff;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.7);
}

.image-container{
  position: relative;
  padding: 25px;
}
.info{
  color: #4b4fe2;
  margin-right: 20px;
}

.main-container{
  padding: 15px;
}

.tittle{

    text-align: center;
    position: relative;
    margin-top: -10%;
}
.tittle input{
  border-width: 0;
  text-align: center;
}
.tittle h2{
  text-transform: uppercase;
}
img{
  width: 40%;
  border-radius: 80px;
}
.form-group .form-control{
  height:2rem;
  width: 90%;
  display: inline-flex;
  border-style: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.form-group .form-control:focus{
  outline-style: none;
  box-shadow: none;
}
.form-group .pincode{
  width: 32%;
}
.form-group .state{
  width: 65%;
}
form .btn{
  padding: 3px 20%;
  margin-top: 10px;
  margin-left: 20px;
}
.lang_btn{
margin-left:6rem;
color: #fff;
}
.lang_btn a{
color: #fff;
}
.lang_btn a:hover{
color:#fff;
text-decoration: none;
}
footer{
  background:#333333;
  color:#fff;
  text-align: center;
  padding: 5px;
  position: absolute;
  width: 100%;
  bottom: 0;
}